export(BadApple)
export(ImitSim)
export(betamle)
export(calc_saboteurs_vs_others)
export(effs_beta)
export(mean_beta)
export(peek)
export(perf_by_iteration)
export(plot_bgraph)
export(plot_gg_ngraph)
export(plot_performance)
export(rearranger)
export(snitch_plots)
export(snitch_tab)
import(dplyr)
import(ggraph)
import(magrittr)
import(tidyverse)
importFrom("graphics", "plot")
importFrom("purrr", "map2")
importFrom("ggplot2", "aes", "ggplot", "geom_density", "geom_histogram", "geom_line", "labs", "theme_minimal",
           "facet_wrap", "scale_fill_manual")
importFrom("igraph", "graph_from_adjacency_matrix", "layout_in_circle")
importFrom("tidyr", "pivot_longer")
importFrom("stats", "model.frame", "model.matrix", "optim", "pnorm",
               "rnorm", "runif", "sd", "terms")
